In [12]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os
import pymongo

In [13]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [14]:
db = client.wikipedia_db
collection = db.tables

In [15]:
url = 'https://en.wikipedia.org/wiki/List_of_wine-producing_regions'
url2 = 'https://en.wikipedia.org/wiki/List_of_countries_by_traffic-related_death_rate'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [16]:
tables =pd.read_html(url)
df= pd.DataFrame(tables[0])
df.head(10)

   Rank Country(with link to wine article)  Production(tonnes)
0     1                              Italy             4796900
1     2                              Spain             4607850
2     3                             France             4293466
3     4                      United States             3300000
4     5                              China             1700000
5     6                          Argentina             1498380
6     7                              Chile             1214000
7     8                          Australia             1186343
8     9                       South Africa             1146006
9    10                            Germany              920200

In [27]:
traffic_table = pd.read_html(url2)
traffic_df = pd.DataFrame(traffic_table[1])
traffic_df.head(10)

,Country,Continent,"Road fatalitiesper 100,000inhabitantsper year[5][2]","Road fatalitiesper 100,000motor vehicles[5][2]",Road fatalitiesper 1 billionvehicle-km[6],Total fatalitieslatest year(adjusted/estimatedfigures by WHO report)[5][2],"Year, data source(standard source:The WHO report 2015,[3]data from 2013The WHO report 2018,[2]data from 2016)"
0,World,NaN,18.2,NaN,NaN,1350000,2016
1,Africa,NaN,26.6,574[7],NaN,"246,719[7]",2016
2,Eastern Mediterranean,NaN,18.0,139[7],NaN,"122,730[7]",2016
3,Western Pacific,NaN,16.9,69[7],NaN,"328,591[7]",2016
4,South-east Asia,NaN,20.7,101[7],NaN,"316,080[7]",2016
5,Americas,NaN,15.6,33[7],NaN,"153,789[7]",2016
6,Europe,NaN,9,19[7],NaN,"85,629[7]",2018
7,Afghanistan,Asia,15.5,722.4,NaN,4734,2013
8,Albania,Europe,13.6,107.2,NaN,399,2018
9,Algeria,Africa,23.8,127.8,NaN,9337,2013